[Unit]
Description=openibd - configure RDMA devices
Documentation=file:/etc/infiniband/openib.conf
After=wickedd.service wickedd-nanny.service
Before=network.target remote-fs-pre.target
RefuseManualStop=false
DefaultDependencies=false

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/etc/init.d/openibd start
ExecStop=/etc/init.d/openibd stop
ExecReload=/etc/init.d/openibd restart

[Install]
WantedBy=sysinit.target
